html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
picture,
img {
  display: block;
}
body {
  line-height: 1;
}
button {
  outline: 0;
}
blockquote,
q {
  quotes: none;
}
blockquote {
  &:before,
  &:after {
    content: "";
    content: none;
  }
}
q {
  &:before,
  &:after {
    content: "";
    content: none;
  }
  display: inline;
  font-style: italic;

  &:before,
  &:after {
    content: '"';
    font-style: normal;
  }
}
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
}
input {
  &[type="text"],
  &[type="button"],
  &[type="submit"],
  &[type="reset"],
  &[type="search"],
  &[type="password"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
  }
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
big {
  font-size: 120%;
}
small,
sup,
sub {
  font-size: 80%;
}
sup {
  vertical-align: super;
}
sub {
  vertical-align: sub;
}
kbd,
tt {
  font-family: inherit;
  font-size: inherit;
}
ins {
  text-decoration: underline;
}
del,
strike,
s {
  text-decoration: line-through;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}
html,
body {
  width: 100%;
  padding: 0;
  margin: 0;
  position: relative;
}
img {
  width: 100%;
  height: auto;
  -ms-flex-item-align: center;
  align-self: center;
  vertical-align: top;
}
.clear {
  display: block;
  clear: both;
}
